In [3]:
import sqlite3
import pandas as pd

In [7]:
conn = sqlite3.connect('//home//pybokeh//databases//temp.db')
cursor = conn.cursor()

sql = """
select * from vehicles
"""

sample = pd.read_sql_query(sql, conn)
conn.close()

In [8]:
sample

  RECORD  YEAR FACTORY MODEL_NAME
0     R1  2001     USA         XL
1     R1  2002     USA         XL
2     R1  2002     CDN        XXL
3     R2  2013     MEX        XXX
4     R2  2014     ALA        XYZ
5     R2  2015     USA        XXY

In [9]:
unique_records = sample.RECORD.unique()

In [11]:
unique_records

array(['R1', 'R2'], dtype=object)

In [ ]:
for record in unique_records:
    unique_year = sample.query("RECORD == '" + record + "'")['YEA'].unique()

In [16]:
record = 'R1'
sample.query("RECORD == '" + record + "'")

  RECORD  YEAR FACTORY MODEL_NAME
0     R1  2001     USA         XL
1     R1  2002     USA         XL
2     R1  2002     CDN        XXL